<%- include("partials/loginheader.ejs"); %>
    <!-- <form action="/submit" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" required>
        <input type="submit" value="Submit">
    </form> -->
    <div class="index-main">
        <div class="index-heading">
            <h1>Jovial Journals</h1>
        </div>
    <div class="index-one"> 
    <div class="index-one-one">
        <p>
            Funny incidents are the unexpected gifts that color our lives with joy. They're more than just moments of amusement—they're connections, they're resilience, they're inspiration.
        </p>
        <p>
            Here, we celebrate these tales of humour. Sharing your stories isn't just about laughter; it's about weaving a tapestry of motivation and unity. Your story might be the spark that brightens someone's day or helps them see the lighter side of life. In this community, we believe in the profound impact of a good laugh—how it bridges gaps, fosters empathy, and reminds us that amidst life's challenges, humor can be a beacon of hope.
        </p>
        <p>
            Join us in this celebration. Share your anecdotes, your tales of laughter. Let's create a space where humor brings us together and spreads happiness far and wide.
        </p>
        <p>
            So what are you waiting for ? Step into the world of Jovial Journals! Click below to embark on a laughter-filled journey through our stories or add your own hilarious anecdotes.
        </p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        <div class="links-help">
        <div class="index-one-one-links">
            <a href="/loginsuccess" class="btn btn-primary">Check out</a>
        </div>
    </div>
    </div>
    <div class="index-one-two">
    <div class="card" style="width: 18rem;border: none;">
        <img src="/images/funny-image-project.png" class="card-img-top" alt="Funny-image">
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

        <!-- <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div> -->
      </div>
    </div>
    </div>
</div>
<%- include("partials/footer.ejs"); %>